#prompt {
    text-shadow: 1px 1px 1px #ccc;
    padding: 2vh;
}

.success-message {
    font-size: 1.75vh;
    list-style: circle;
    white-space: nowrap;
    position: relative;
    left: -10vw;
}
