#prompt {
    text-shadow: 1px 1px 1px #ccc;
    padding: 2vh;
}

.success-message {
    font-size: 1.75vh;
}

ul {
    list-style: circle;
}

ul li {
  word-spacing: 'parent-width';
}

li {
    white-space: nowrap;
    position: relative;
    left: -10vw;
}