#prompt {
    text-shadow: 1px 1px 1px #ccc;
    padding: 2vh;
}


.success-message {
    font-size: 1.5vh;
}

Alert {
    font-size: 1vw;
}

#howtovid{
    width: 45vw;
    height: 50vh;
    display: block;
   margin: 0 auto;
}
