#top-row{
    margin-top: 12vh;
}

.description, ul{
    font-size: 2.5vh;
    padding-left: 15vw;
    padding-right: 15vw;
}

li span {
    position: relative;
    left: -10px;
}

.logo {
    height: 4vh;
}

ul {
    list-style: none;
}

/* li {
    height: 3vh;
    margin: 3vh;
} */

.Home {
    margin-bottom: 5vh;
    height: 75%;
    color: white;
}
/* li > img {
    height: 2vh;
} */

/* .Home {
 color: white;
background-color: blue;
} */
/* body {
    background-color: black;
    opacity: ;
} */

