#top-row{
    margin-top: 12vh;
}

.description, ul{
    font-size: 2.5vh;
    padding-left: 15vw;
    padding-right: 15vw;
}

li span {
    position: relative;
    left: -10px;
}

/* .logo {
    height: 2vh;
} */

ul {
    list-style: none;
}

.Home {
    margin-bottom: 5vh;
    height: 75%;
    color: white;
}
/* 
.img-fluid {
    height: 5vh;
}

.img-thumbnail {
    height: 5vh;
} */

#distrokidLogo, #spotifyLogo, #bandcampLogo {
    height: 5vh;
}


